{% extends 'base.html' %}
{% block body %}
    <div class="container mt-5">

        {% if form.non_field_errors %}
            <div class="non-field-errors">
                {% for err in form.non_field_errors %}
                <p class="alert alert-danger">{{ err }}</p>
                {% endfor %}
            </div>
        {% endif %} 

        <form action="" method="POST" novalidate>
            {% csrf_token %}
            {% for form in form %}
                <div class="form-group">
                    {{form.label_tag}}
                    {{form}}
                    {% for error in form.errors %}
                        <div style="width:600px; height:35px;" class="text-danger">
                            <strong>*{{ error|escape }}</strong>
                        </div>
                    {% endfor %}
                </div>
            {% endfor %}
            <input class="btn btn-success mt-3" type="submit" value="Login Here">
        </form>
    </div>
{% endblock body %}